node_red/sandman_flows.json
[{"id":"73d710aa.8435d","type":"tab","label":"Sandman Intents","disabled":false,"info":""},{"id":"b926b915.19f878","type":"websocket in","z":"73d710aa.8435d","name":"Remote Rhasspy Intents","server":"","client":"8d968ce7.e3888","x":130,"y":100,"wires":[["ca5a4892.fdcb58","3d466d.0ea3b994"]]},{"id":"ca5a4892.fdcb58","type":"debug","z":"73d710aa.8435d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":160,"wires":[]},{"id":"27bfea9c.12a316","type":"exec","z":"73d710aa.8435d","command":"sandman ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1060,"y":100,"wires":[["ee097039.fcca5"],[],[]]},{"id":"3d466d.0ea3b994","type":"switch","z":"73d710aa.8435d","name":"Intent Switch","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"GetStatus","vt":"str"},{"t":"eq","v":"MovePart","vt":"str"},{"t":"eq","v":"SetSchedule","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":100,"wires":[["cd3f0067.136b9"],["3de919b8.19ab66"],["bc673edc.80b99"]]},{"id":"3de919b8.19ab66","type":"function","z":"73d710aa.8435d","name":"Generate Move","func":"// The names of directions are not the same when spoken compared to the commands. This translates them.\nvar directionToCommandMap = new Map();\ndirectionToCommandMap.set(\"up\", \"raise\");\ndirectionToCommandMap.set(\"down\", \"lower\");\n\n// If there is no mapping for this direction, we can't generate a command.\nif (directionToCommandMap.has(msg.slots.direction) == false) {\n    return null;\n}\n\nvar commandDirection = directionToCommandMap.get(msg.slots.direction);\n\nreturn {\n    payload: msg.slots.name + \"_\" + commandDirection\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":100,"wires":[["c1da9136.77675"]]},{"id":"b77af4d2.1b1b58","type":"debug","z":"73d710aa.8435d","name":"Command Argument","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":160,"wires":[]},{"id":"ee097039.fcca5","type":"debug","z":"73d710aa.8435d","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":80,"wires":[]},{"id":"c1da9136.77675","type":"template","z":"73d710aa.8435d","name":"Command Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"--command={{payload}}","output":"str","x":840,"y":100,"wires":[["27bfea9c.12a316","b77af4d2.1b1b58"]]},{"id":"cd3f0067.136b9","type":"template","z":"73d710aa.8435d","name":"Generate Status","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"status","output":"str","x":600,"y":40,"wires":[["c1da9136.77675"]]},{"id":"bc673edc.80b99","type":"template","z":"73d710aa.8435d","name":"Generate Schedule","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"schedule_{{slots.action}}","output":"str","x":610,"y":160,"wires":[["c1da9136.77675"]]},{"id":"8d968ce7.e3888","type":"websocket-client","path":"ws://192.168.1.111:12101/api/events/intent","tls":"","wholemsg":"true"}]